body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

button,
h1,
input,
span {
    position: relative;
}

div {
    margin: 0 auto 1em;
}

ul {
    display: flex;
    padding: 0;
}

li {
    list-style: none;
}

video {
    margin: 0 auto 1em;
    width: 100%;
}

time {
    display: block;
}
